<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <title><%= @title %></title>
  <meta name="description" content="<%=meta_desc%>">
  <meta name = "viewport" content = "user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="Index Coffee" />
  <meta property="og:url" content="<%=request.url%>" />
  <meta property="og:description" content="<%=meta_desc%>" />
  <meta property="og:image" content="http://www.indexcoffee.com/images/<%=@og_img%>.png"/>
  <meta property="og:image:secure_url" content="https://www.indexcoffee.com/images/<%=@og_img%>.png" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <script type="text/javascript" src="//use.typekit.net/uls3hhy.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>  
  <link rel="stylesheet" href="/stylesheets/index-base.css" />
  <%= styles @style %>  
  <script src="/javascripts/vendor/custom.modernizr.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

</head>
<body class="<%= @body_class %>">

  <!-- body content here -->

	<nav class="top-bar">
	  <ul class="title-area">
	    <!-- Title Area -->
	    <li class="name">
	      <h1 class="logo"><a class="logomark" href="/">Index Coffee</a></h1>
	    </li>
	    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
	    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
	  </ul>
	  
		<section class="top-bar-section">
		  <!-- Right Nav Section -->
		  <ul class="right">
		    <li class="divider"></li>
		    <li><a href="/service">Coffee Service</a></li>
		    <li class="divider"></li>
		    <li><a href="/guides/french-press">Guide To French Press</a></li>
		    <li class="divider"></li>
		    <li><a href="/guides/espresso-drinks">Guide To Espresso Drinks</a></li>
		    <li class="divider"></li>
		    <li><a href="/top-coffee-shops">Gallery of Incredible Coffee Shops</a></li>
		  </ul>
		</section>
	</nav>

	<section class="content">
		<%= yield %>
	</section>

	<section>
		<div class="section footer">
			<div class="container">
			  <div class="section row mission">
			    <div class="columns large-12 text-center">
			    	<h2>Our mission is to show you that making absolutely amazing coffee at home isn’t scary at all. In fact it’s fun. we hope that you join us.</h2>
			    </div>
			  </div>

			  <div class="section row index-recommends">
			    <div class="columns large-6 for-best-coffee vcenter">
			    	<p>For the best coffee at home, we recommend these methods of brewing.</p>
			    </div>
			    <div class="columns large-2 v60 brew-method"><a href="http://coffeegeek.com/forums/coffee/machines/499716">v60</a></div>
			    <div class="columns large-2 aeropress brew-method"><a href="http://stumptowncoffee.com/brew-guides/aeropress/">Aeropress</a></div>
			  	<div class="columns large-2 chemex brew-method"><a href="http://stumptowncoffee.com/brew-guides/chemex/">Chemex</a></div>
				</div>

				<div class="section row about-index">
					<div class="columns large-8">
						<div class="kevin illy">
							<img src="/images/kevin.jpg" />
						</div>
						<p>An enthusiastic educator and experienced barista, <a href="http://dribbble.com/kevinboyle">Kevin Boyle</a> began Index Coffee to promote (to a larger audience) great coffee and excellent coffee shops. And, with the ever-growing interactive guides on this site, to teach the art of brewing <strong>your best coffee</strong> at home. Kevin also does freelance <a href="http://kevinboyle.us">creative direction</a>. He loves living in <strong>Pittsburgh</strong>.</p>				
					</div>
					<div class="columns large-4 respect">
						<h2>Respect</h2>
						<ul>
							<li><a href="http://coffeecommon.com/">Coffee Common</a></li>
							<li><a href="http://timwendelboe.no/news/">Tim Wendelboe</a></li>
							<li><a href="http://www.jimseven.com/">James Hoffman</a></li>
							<li><a href="http://www.sprudge.com/">Sprudge</a></li>
							<li><a href="http://shotzombies.com/">shot zombies</a></li>
							<li><a href="http://brewmethods.com/">brew methods</a></li>
							<li><a href="http://bitterpress.com/">Jesse Raub</a></li>
							<li><a href="http://flyingthud.wordpress.com/">Stephen Morrissey</a></li>
						</ul>
					</div>
				</div>
				<div class="section row">
					<div class="columns twelve footer-logo"></div>		
				</div>		
			</div>
		</div>

		<div class="section social-footer">
			<div class="container row">
				<ul id="socialite" class="cf">
		      <li>
		          <a href="https://plusone.google.com/_/+1/confirm?hl=en&amp;url=http://indexcoffee.com" class="socialite googleplus-one" data-size="medium" data-href="http://indexcoffee.com" rel="nofollow" target="_blank">
		              <span class="vhidden">Share on Google+</span>
		          </a>
		      </li>
		      <li>
		          <a href="http://twitter.com/share" class="socialite twitter-share" data-text="Index Coffee" data-url="http://indexcoffee.com" data-count="horizontal" rel="nofollow" target="_blank">
		              <span class="vhidden">Share on Twitter</span>
		          </a>
		      </li>
		      <li>
		          <a href="http://www.facebook.com/sharer.php?u=http://www.facebook.com/indexcoffeecompany&amp;t=Index%20Coffee" class="socialite facebook-like" data-href="http://www.facebook.com/indexcoffeecompany" data-send="false" data-layout="button_count" data-width="60" data-show-faces="false" rel="nofollow" target="_blank">
		              <span class="vhidden">Share on Facebook</span>
		          </a>
		      </li>
				</ul>
			</div>
		</div>
	</section>

	<script type="text/javascript" src="/javascripts/socialite.min.js"></script>	
	<script src="/javascripts/default.js"></script>

  <!--<script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'javascripts/vendor/zepto' : 'javascripts/vendor/jquery') +
  '.js><\/script>')
  </script>-->
  <script src="/javascripts/foundation/foundation.js"></script>
  <!--<script src="/javascripts/foundation/foundation.alerts.js"></script>
  <script src="/javascripts/foundation/foundation.clearing.js"></script>
  <script src="/javascripts/foundation/foundation.cookie.js"></script>
  <script src="/javascripts/foundation/foundation.dropdown.js"></script>
  <script src="/javascripts/foundation/foundation.forms.js"></script>
  <script src="/javascripts/foundation/foundation.joyride.js"></script>
  <script src="/javascripts/foundation/foundation.magellan.js"></script>-->
  <script src="/javascripts/foundation/foundation.orbit.js"></script>
<!--  <script src="/javascripts/foundation/foundation.placeholder.js"></script>
  <script src="/javascripts/foundation/foundation.reveal.js"></script>
  <script src="/javascripts/foundation/foundation.section.js"></script>
  <script src="/javascripts/foundation/foundation.tooltips.js"></script> -->
  <script src="/javascripts/foundation/foundation.topbar.js"></script>
  <script>
  $(document).foundation();
  </script>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-38431084-2']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>  
</body>
</html>